@import "tailwindcss";

@layer utilities {
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .shadow-rs {
    box-shadow: 0 1px 4px #00152914;
  }
}

html, body, #app {
	height: 100%;
}
#app .n-config-provider {
  height: 100%;
}